{% load cloudinary %}
<div class="col-sm-6 col-md-4" style="min-height: 290px">
    <div class="thumbnail">
        <a href="{{ album.get_absolute_url }}">
            {% cloudinary album.album_cover.image_id|add:'.jpg' transformation="album_preview" alt=album %}</a>

        <div class="caption">
            <h5>
                <a href="{{ album.get_absolute_url }}">
                {{ album.label|truncatewords:4 }}
            </a></h5>
            <p>
                <small><i class="glyphicon glyphicon-plus"> </i>
                    {{ album.created_at|date:"D d M Y P" }}<br>
                    <a class="label label-info" href="{{ album.get_absolute_url }}">
                        {{ album.photos.all.count }}
                        images</a>
                </small>
            </p>
        </div>
    </div>
</div>
