{% load humanize %}
<div class="bordered">
    <div class="media">
        <div class="media-body">
            <h5 class="media-heading">{{ classified }}</h5>
            {{ classified.description|truncatewords_html:30 }}
            <br />
            <a class="pull-left" href="#" style="margin-right: 4px;">
                <img class="media-object" src="http://placehold.it/80x80">
            </a>
            Added By {{ classified.owner }}<br />On {{ classified.created_at|naturaltime }}
        </div>
    </div>
</div>

<style type="text/css">
    .bordered {
        border-bottom: 1px solid cornflowerblue;
        margin-bottom: 5px;
        padding: 3px;
        font-size: 12px;
    }
</style>