<div class="bordered">
    <div class="media">
        <a class="pull-right" href="#">
            <img class="media-object" src="http://placehold.it/80x80">
        </a>

        <div class="media-body">
            <h4 class="media-heading">{{ classified }}</h4>
            {{ classified.description }}
        </div>
    </div>
</div>

<style type="text/css">
    .bordered {
        border-bottom: 1px solid cornflowerblue;
        margin-bottom: 5px;
        padding: 3px;
        font-size: 13px;
    }
</style>