{% load cloudinary %}
<div class="collection">
    {% cloudinary collection.cover_album.album_cover.image_id|add:'.jpg' transformation="collection_preview" alt=collection %}
    <h2><span><a href="{{ collection.get_absolute_url }}">{{ collection }}</a></span></h2>
</div>

<style type="text/css">
    .collection {
        position: relative;
        margin: 5px;
    }

    .collection h2 {
        position: absolute;
        top: 120px;
        left: 0;
        width: 100%;
    }

    .collection h2 span {
        color: #000000;
        font: bold 20px/41px Helvetica, Sans-Serif;
        letter-spacing: -1px;
        background: rgb(255, 255, 255); /* fallback color */
        background: rgba(255, 255, 255, 0.70);
        padding: 10px;
    }

    .collection a {
        color: #000000;
    }
    .collection a:hover {
        text-decoration: none;
        color: #ffa500;
    }
</style>