<div id="footer">
    <div class="container text-right" style="padding-top: 20px;">
        <a href="{% url "contact_us" %}">Contact us</a> ||
        <a href="">Developers and API</a> ||
        <a href="">About Us</a> ||
        <a href="http://blog.mokocharlie.com">Blog</a>
        {% if user.is_authenticated and user.is_staff %}
            || <a href="{% url "admin:index" %}">Administrator</a>
        {% endif %}
        <br/>
        &copy; Mokocharlie Systems 2015. All Rights Reserved
    </div>
</div>