<nav class="navbar navbar-static-top" role="navigation">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            {% load cloudinary %}
            <a class="navbar-brand" href="/">{% cloudinary "moko_logo_small"|add:'.png' %}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="navbar-collapse" style="margin-top:8px">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'album_list' %}">Albums</a></li>
                <li><a href="{% url 'photo_list' %}">Photos</a></li>
                <li><a href="{% url 'photo_list' %}">Videos</a></li>
                <li><a href="{% url 'story_list' %}">Stories</a></li>
                <li><a href="{% url 'hospitality_list' %}">Hotels &amp; Resorts</a></li>
            </ul>
            <ul class="nav navbar-nav pull-right">
                {% if not user.is_authenticated %}
                    <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% else %}
                    <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        {% load gravatar %}
                        {% gravatar user.email 20 %} {{ user.first_name }} {{ user.last_name }}
                        <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'profile' %}">My Profile</a></li>
                        <li><a href="#">My Images</a></li>
                        {% if user.is_superuser %}
                            <li><a href="{% url "admin:index" %}">Site Admin</a></li>
                        {% endif %}
                        <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
                    </ul>
                {% endif %}
            </ul>
            <form class="navbar-form navbar-right" role="search" action="{% url "haystack_search" %}">
                <div class="form-group">
                    <input type="text" class="form-control" name="q"
                           placeholder="Search {{ photo_count }} images">
                </div>
            </form>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>