{%  if paginator_object.paginator.num_pages > 1 %}
<br class="clear"/>
<ul class="pagination">
    {% if paginator_object.has_previous %}
        <li>
            <a href="?page={{ paginator_object.previous_page_number }}"><i class="glyphicon glyphicon-chevron-left"></i></a>
        </li>
    {% endif %}

    {% for i in  paginator_object.paginator.page_range %}
        {% if i == paginator_object.number %}
            <li><a href="javascript:void(0)"><strong>{{ i }}</strong></a></li>
        {% else %}
            <li><a href="?page={{ i }}">{{ i }}</a></li>
        {% endif %}
    {% endfor %}

    {% if paginator_object.has_next %}
        <li>
            <a href="?page={{ paginator_object.next_page_number }}"><i class="glyphicon glyphicon-chevron-right"></i></a>
        </li>
    {% endif %}
</ul>
{% endif %}