<h5>Photos You Have Posted</h5>
<hr/>
{% if user.get_photos.count > 0 %}
    {% load endless %}
    {% paginate 30 user.get_photos as images %}
    <div class="row">
        {% for image in images %}
            <div style="min-height: 140px; width: 180px; float:left">
                {% include "partials/image_preview.html" %}
            </div>
        {% endfor %}
    </div>
    <div class="row">
        <ul class="pagination">
            {% show_pages %}
        </ul>
    </div>
{% endif %}