<div class="row">
<div class="page-header">
    <h3>Photos You Have Posted</h3>
</div>
    {% if user.get_photos %}
        {% load endless %}
        {% paginate 30 user.get_photos as photos %}
        {% for image in photos %}
            <div style="min-height: 140px; width: 180px;float:left">
                {% include "partials/image_preview.html" %}
            </div>
        {% endfor %}
    {% endif %}
</div>
<div class="row">
    <ul class="pagination">
        {% show_pages %}
    </ul>
</div>