{% extends "master.html" %}
{% block title %}New Classifieds Item{% endblock %}
{% block extrahead %}
    <script src="{{ STATIC_URL }}js/classifieds.js" type="application/javascript"></script>
{% endblock %}
{% block content %}
    <div class="row" style="margin-bottom: 10:px">
        {% load crispy_forms_tags %}
        {% crispy form %}
    </div>
    <script type="application/javascript">
        window.onload = function () {
            // initialise key-value pairs for meta data
            addKeyPair(0);
        }
    </script>
{% endblock %}
