{% extends "master.html" %}
{% block title %} Organising Community Photos {% endblock %}
{% block extrahead %}
    <script src="{{ STATIC_URL }}js/main.js"></script>
{% endblock %}
{% block content %}
    <div class="row">
        {% include "partials/album_ordering.html" with order_data=order %}
    </div>
    <br />
    <div class='row'>
        <div class="col-xs-8">
            <div class="row">
                {% load endless %}
                {% paginate limit albums %}
                <ul class="thumbnails">
                    {% for album in albums %}
                        {% include "partials/album_preview.html" %}
                    {% endfor %}
                </ul>
            </div>
            <ul class="pagination">
                {% show_pages %}
            </ul>
        </div>
        <div class="col-lg-4">
            <div class="page-header">
                <h5>Most Recent Comments</h5>
            </div>
            {% for comment in comments %}
                {% include "partials/comment_preview.html" %}
            {% endfor %}
        </div>
    </div>
    <script type="application/javascript">
        window.onload = function () {
            endlessPaginatorStyleFix()
        }
    </script>
{% endblock %}