{% extends "base.html" %}
{% block title %} Organising Community Photos {% endblock %}
{% block content %}
    <div class='row'>
        <div class="col-lg-8">
            <ul class="thumbnails">
                {% for album in albums %}
                    {% include "partials/album_preview.html" %}
                {% endfor %}
            </ul>
            <hr/>
            {% include "partials/paginator.html" %}
        </div>
        <div class="col-lg-4">
            <h6>Most Recent Comments</h6>
        </div>
    </div>
{% endblock %}