{% extends "base.html" %}
{% block title %}Organising Community Photos{% endblock %}
{% block extrahead %}
    <script src="{{ STATIC_URL }}js/main.js"></script>
    <script src="{{ STATIC_URL }}js/photos.js"></script>
{% endblock %}
{% block content %}
    <div class='row'>
        <div class="col-lg-8">
            {% include "partials/photo_ordering.html" with order_data=order %}
            <br/>

            <div class="row">
                {% load endless %}
                {% paginate limit images %}
                {% for image in images %}
                    <div class="col-sm-6 col-md-3" style="min-height: 140px">
                        {% include "partials/image_preview.html" %}
                    </div>
                {% endfor %}
            </div>
            <div class="row">
                <ul class="pagination">
                    {% show_pages %}
                </ul>
            </div>

        </div>
        <div class="col-lg-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    People and Places
                </div>
                <div class="panel-body">
                    You can upload your own images to the People and Places album click on the button below to begin
                </div>
                <div class="panel-footer">
                    <a href="/upload" class="btn btn-success btn-sm">Upload Your Images</a> | <a
                        class="btn btn-default btn-sm"
                        href="/albums/peopleandplaces">People and Places</a>
                </div>
            </div>
             <div class="page-header">
                <h5>Most Recent Comments</h5>
            </div>
            {% for comment in comments %}
                {% include "partials/comment_preview.html" %}
            {% endfor %}
        </div>
    </div>

    <script type="application/javascript">
        window.onload = function () {
            endlessPaginatorStyleFix()
        }
    </script>

{% endblock %}